.place__link {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity 0.25s ease-out;
}

.place__link:hover {
  opacity: 0.8;
}
